/* ChatList.css */
.chati{
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat-list {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    padding-top: 40px;
    height: calc(80vh - 20px); /* Высота окна чата */
    max-height: 800px; /* Максимальная высота окна чата */
    display: flex; /* Добавление флексбокса */
    flex-direction: column; /* Расположение дочерних элементов в столбце */
  }
  .novi{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url('assets/plus.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    margin-bottom: 20px;
  }
  .novi:hover {
    background-color: #0056b3;
}
  h2 {
    color: #333;
    font-size: 24px;
  }
  
  .chat-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chat-item:hover {
    background-color: #f5f5f5;
  }
  
  .chat-item p {
    color: #333;
    font-size: 16px;
    margin: 0;
  }
  
  .chat-item span {
    color: #007bff;
    font-size: 14px;
  }
  
  .error-message {
    margin-left: 50px;
    color: #ff0000;
    font-size: 14px;
    margin-top: 0;
  }
  